body {
  color: #f9fafa;
  font-family: Lato, "futura", Helvetica, Arial, sans-serif;
  background-color: #A0B3B6;
}

.title {
  background-image: url(../img/forest.JPG);
  background-size: cover;
  color: #f4f6ed;
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: table-cell;
  border-radius: 25px;
}

.content-about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.wrapper {
  padding-right: 30px;
  padding-left: 80px;
  margin: 0px 0px 0px 0px;
}

.content-education {
  background-image: url("../img/grads.jpg");
  color: #F5F3E4;
  text-shadow: 2px 2px #000000;
  text-align: left;
  padding: 60px 30px 60px 80px;
  border-radius: 25px;
}

#work {
  padding:60px 30px 60px 80px;
}

.content-computerskills {
  padding: 20px 20px 20px 20px;
}

.footer {
  padding: 50px 30px 50px 80px;
  background: #758095;
  border-radius: 25px;
}

.workstyle { 
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(117, 128, 149, 1), rgba(0, 0, 0, 0));
}

.navbar {
  overflow: hidden;
  background-color: #758095;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #f4f6ed;
  color: black;
}

#email {
  text-decoration: none;
  color: inherit;
}